/**************************************
 * General styles
 * ------------------------------------
 * Browser default are overwritten with
 * normalize.css included in the HTML
 * file.
 *
 * PS. Responsive properties is defined
 * in responsive.css. DS.
 *************************************/

* {
  box-sizing: border-box;
}

body {
  background: #eaeaea url(../imgs/bg-small.svg) 0 100%/100% no-repeat;
  color: rgba(51,51,51,0.54);
  font: 16px/1.4 'futura-pt', sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/**************************************
* Header
* ------------------------------------
* Top part of the page. Contains a
* logo and the site titles.
*************************************/

.header {
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}

.logo {
  height: 100px;
  width: 100px;
}

.titles {
  flex: auto;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
}

.titles-main {
  color: rgb(51,51,51);
  font-size: 28px;
  margin: 0;
}

.titles-sub {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/**************************************
* Hero image
* ------------------------------------
* Big image seperating the header and
* main area. Images are loaded in HTML
* depending on viewport size and DPI.
*************************************/

.hero-image-container {
  border-top: 5px solid rgba(51,51,51,0.27);
  margin: 20px 0 -6px 0;
  width: 100%;
}

.hero-image {
  width: 100%;
}

/**************************************
* Projects (Main section)
* ------------------------------------
* Contains a list of all the projects
* listed on the site. Each one is
* represented as a card; more below.
*************************************/

.projects-container {
  margin: 40px 0;
  padding: 0 20px;
}

.projects-title {
  font-size: 22px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

/*
* Card classes
* ------------------------------------
* Every project is represented as a
* card. On top each one has an image.
* Below that is a header followed by
* a description of the project. At
* the bottom each card has a list of
* links for viewing the project, see
* it's source code and more info about
* it. The cards can be reordered with
* the order classes.
*/

.card {
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.card-order-first {
  order: 1;
}

.card-order-second {
  order: 2;
}

.card-order-third {
  order: 3;
}

/*
* CARD: HEADER
* Set the card top (background) image
*/

.card-header-animal {
  background: rgba(51,51,51,0.27) url(../imgs/logo-css3.svg) 50% 30%/50% no-repeat;
  min-height: 350px;
  width: 100%;
}

.card-header-portfolio {
  background: rgba(51,51,51,0.27) url(../imgs/logo-gj-white.svg) 50% 50%/75% no-repeat;
  min-height: 350px;
  width: 100%;
}

.card-header-mockup {
  background: rgba(51,51,51,0.27) url(../imgs/logo-html5.svg) 50% 30%/70% no-repeat;
  min-height: 350px;
  width: 100%;
}

/*
* CARD: TITLE
*/

.card-title {
  background: #fff;
  border-top: 1px solid rgba(51,51,51,0.12);
  font-size: 16px;
  margin: 350px 0 0 0;
  padding: 16px 16px 0 16px;
  text-transform: uppercase;
  width: 100%;
}

/*
* A green check to the right of the header
* to indicate I met the specifications
*/

.passed {
  background: #fff url(../imgs/icon-check-green.svg) calc(100% - 12px) 16px no-repeat;
}

/*
* CARD: DESCRIPTION
*/

.card-description {
  margin: 0;
  padding: 16px;
  width: 100%;
}

/*
* CARD: LINKS
*/

.card-links {
  align-self: flex-end;
  border-top: 1px solid rgba(51,51,51,0.12);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/*
* Adding padding to each link to make it
* big enough for touch
*/

.card-link {
  border-right: 1px solid rgba(51,51,51,0.12);
  color: rgba(51,51,51,0.54);
  flex: auto;
  padding: 8px 0 4px 0;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
}

/*
* Remove right border from last icon link
*/

.card-link:last-child {
  border-right: 0;
}

.card-link-text {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  vertical-align: top;
}

/*
* The card icon links at the bottom
* of every card
*/

.card-link:hover {
  color: rgb(33,150,243);
}

.card-link:visited {
  color: rgba(81,45,168,0.54);
}

/*
* Disabled card icon link
*/

.disabled {
  color: rgba(51,51,51,0.27);
}

.disabled:hover {
  color: rgba(51,51,51,0.27);
  cursor: not-allowed;
}

/**************************************
* Footer
* ------------------------------------
* The footer consist of two parts. A
* list with links for sharing this
* site on social media and a short
* colophon.
*************************************/

.footer {
  background: rgba(51,51,51,0.87);
  border-top: 5px solid rgba(51,51,51,0.87);
  width: 100%;
}

.sharing {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

/*
* Adding padding to each link to make it
* big enough for touch
*/

.sharing-icon {
  background: rgba(255,255,255,0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 12px 16px 8px 16px;
}

.sharing-link {
  background: rgba(255,255,255,0.27);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: 20px;
  padding: 12px 16px 8px 16px;
  transition: box-shadow 0.2s;
}

.sharing-link:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.icon-facebook {
  background: rgba(59,89,152,0.54);
  transition: background 0.2s;
}

.icon-facebook:hover {
  background: rgba(59,89,152,1);
}

.icon-googleplus {
  background: rgba(211,72,54,0.54);
}

.icon-googleplus:hover {
  background: rgba(211,72,54,1);
  transition: background 0.2s;
}

.icon-twitter {
  background: rgba(64,153,255,0.54);
  transition: background 0.2s;
}

.icon-twitter:hover {
  background: rgba(64,153,255,1);
}

.colophon {
  color: rgba(255,255,255,0.54);
  font-style: italic;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.colophon-link {
  color: inherit;
}
