 /**************************************
  * General styles
  * ------------------------------------
  * Browser default are overwritten with
  * normalize.css included in the HTML
  * file. Below set the box model to
  * include padding and margins, the
  * base font to Futura PT 16px with a
  * line height of 140% or 22.4px. It
  * then resets the browser default
  * margin on figures and makes sure a
  * image never spills over the
  * viewport.
  *
  * PS. Responsive properties is defined
  * in responsive.css. DS.
  *************************************/

* {
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  color: rgba(51,51,51,0.54);
  font: 18px/1.4 'futura-pt', sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/**************************************
 * Introduction
 * ------------------------------------
 * The site contains of a header, a
 * main section and a footer.
 *************************************/



/**************************************
 * Header
 * ------------------------------------
 * Top part of the page. Contains a
 * logo and the site titles.
 *************************************/

.header {
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}

.logo {
  height: 100px;
  width: 100px;
}

.titles {
  flex: auto;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
}

.titles-main {
  color: rgb(51,51,51);
  font-size: 28px;
  margin: 0;
}

.titles-sub {
  font-size: 16px;
  margin: 0;
}

/**************************************
 * Hero image
 * ------------------------------------
 * Big image seperating the header and
 * main area. Images are loaded in HTML
 * depending on viewport size and DPI
 * but all have the ratio 16:9.
 *************************************/

.hero-image-container {
  border-top: 5px solid rgba(51,51,51,0.27);
  margin-top: 20px;
  width: 100%;
}

/*
 * Caption moved on top of the hero image
 */

.hero-image-caption {
  margin-top: -55px;
  padding: 12px 8px;
  text-align: right;
}

.hero-image-caption-text {
  background: rgba(255,255,255,0.87);
  border-radius: 4px;
  padding: 4px 6px;
}

.hero-image {
  width: 100%;
}

/**************************************
 * Projects (Main section)
 * ------------------------------------
 * Contains a list of all the projects
 * listed on the site. Each one is
 * represented as a card; see below.
 *************************************/

.projects-container {
  margin: 40px 0;
  padding: 0 20px;
}

.projects-title {
  font-size: 22px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

/*
 * Card classes
 * ------------------------------------
 * Every project is represented as a
 * card. On top each one has an image.
 * Below that is a header followed by
 * a description of the project. At
 * the bottom each card has a list of
 * links for viewing the project, see
 * it's source code and more info about
 * it. The cards can be reordered with
 * the order classes.
 */

.card {
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.card-order-first {
  order: 1;
}

.card-order-second {
  order: 2;
}

.card-order-third {
  order: 3;
}

/*
 * CARD: HEADER
 * Set the card top (background) image
 */

.card-header-animal {
  background: rgba(51,51,51,0.27) url(../imgs/logo-css3.svg) 50% 30%/50% no-repeat;
  min-height: 350px;
  width: 100%;
}

.card-header-portfolio {
  background: rgba(51,51,51,0.27) url(../imgs/logo-gj-white.svg) 50% 50%/75% no-repeat;
  min-height: 350px;
  width: 100%;
}

.card-header-mockup {
  background: rgba(51,51,51,0.27) url(../imgs/logo-html5.svg) 50% 30%/70% no-repeat;
  min-height: 350px;
  width: 100%;
}

/*
 * CARD: TITLE
 */

.card-title {
  background: #fff;
  border-top: 1px solid rgba(51,51,51,0.12);
  font-size: 16px;
  margin: 350px 0 0 0;
  padding: 16px 16px 0 16px;
  text-transform: uppercase;
  width: 100%;
}

/*
 * A green check to the right of the header
 * to indicate I met the specifications
 */

.passed {
  background: #fff url(../imgs/icon-check-green.svg) calc(100% - 12px) 18px no-repeat;
}

/*
 * CARD: DESCRIPTION
 */

.card-description {
  margin: 0;
  padding: 16px;
  width: 100%;
}

/*
 * CARD: LINKS
 */

.card-links {
  align-self: flex-end;
  border-top: 1px solid rgba(51,51,51,0.12);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/*
 * Adding padding to each link to make it
 * big enough for touch
 */

.card-link {
  border-right: 1px solid #eee;
  color: rgba(51,51,51,0.54);
  flex: auto;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
}

/*
 * Remove right border from last icon link
 */

.card-link:last-child {
  border-right: 0;
}

.card-link-text {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: super;
}

/*
 * The card icon links at the bottom
 * of every card
 */

.card-link:hover {
  color: rgb(33,150,243);
}

.card-link:visited {
  color: rgb(81,45,168);
}

/*
 * Disabled card icon link
 */

.disabled {
  color: rgba(51,51,51,0.27);
}

.disabled:hover {
  color: rgba(51,51,51,0.27);
  cursor: not-allowed;
}

/**************************************
 * Footer
 * ------------------------------------
 * The footer consist of two parts. The
 * top part is a list with links for
 * sharing this site on social media.
 * Below that is a short colophon.
 *************************************/

.footer {
  background: rgba(51,51,51,0.87);
  border-top: 5px solid rgba(51,51,51,0.87);
  margin-top: 20px;
}

.sharing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  padding: 20px 20px 16px 20px;
  max-width: 700px;
}

/*
 * Adding padding to each link to make it
 * big enough for touch
 */

.sharing-link {
  background: rgba(255,255,255,0.12);
  border-radius: 4px;
  padding: 16px 16px 8px 16px;
  transition: box-shadow 0.2s;
}

.sharing-link:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.colophon {
  background: rgba(255,255,255,0.12);
  color: rgba(255,255,255,0.54);
  font-style: italic;
  margin: 0;
  padding: 20px;
}

.colophon-link {
  color: inherit;
}
